<div class="container-message">
    <div class="user" [ngClass]="{'flexEnd': !isMyMessages}">
        <button mat-mini-fab class="user-image" *ngIf="isMyMessages">
        </button>
        <div class="user-name"><span *ngIf="isMyMessages">{{msg?.user.name}}</span> {{msg.uptime * 1000 | date:'dd.MM.yy hh:mm'}}</div>
    </div>
    <!--  flexEnd-->
    <div class="message" [ngClass]="{'flexEnd': !isMyMessages}">
        <div class="message-container">
            {{msg?.msg}}
        </div>
    </div>
</div>
