<div class="chat-header">
    <div class="chat-header_info">
        <button class="chat-header__name">{{chatInfo?.name}}</button>
        <div class="chat-header__status">
            <div class="status-activity" *ngIf="chatInfo?.user.connection"></div>
            <p class="status-text">{{chatInfo?.user.statusText}}</p>
        </div>
    </div>
    <div class="chat-header_actions">
        <button mat-mini-fab class="custom-fab-btn">
            <mat-icon aria-label="phone">videocam</mat-icon>
        </button>
        <button mat-mini-fab class="custom-fab-btn ml10">
            <mat-icon aria-label="phone">phone</mat-icon>
        </button>
        <button mat-mini-fab class="custom-fab-btn ml10">
            <mat-icon aria-label="phone">person_add</mat-icon>
        </button>
    </div>
</div>