<div class="conatiner-list">
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
    <app-message></app-message>
</div>